{% extends parent_template|default:"dialogue/base_dialogue.html" %}

{% block title %}
{{ block.super }} - Dialogue
{% endblock %}

{% block content %}
<p>Ceci est le template dialogue/accueil.html</p>
<p> {{ message }} </p>
<h2>De quoi dialoguer...</h2>
<p><b><a href="{% url 'dialogue_liste' %}">Liste
des éléments de dialogue</a></b> (c'est le point d'entrée normal)</p>
<p><a href="{% url 'purge_elements' %}">Purge
des éléments de dialogue</a></p>
<p><a href="{% url 'importe_elements' %}">Importation
des éléments de dialogue</a></p>
<p><a href="{% url 'exporte_elements' %}">Exportation
des éléments de dialogue</a></p>
<p><a href="{% url 'formulaire_avec_post' %}">Formulaire avec POST</a>
(bricolé par mes soins, avec CSRF neutralisé)</p>
<p><a href="{% url 'nom_sinodoju' %}">Sinodoju</a>
(non voué à être appelé manuellement, ou alors par exception)</p>
{% endblock %}
