{% extends parent_template|default:"dialogue/base_dialogue.html" %}

{% block title %}
{{ block.super }} - Affichage d'un élément de dialogue
{% endblock %}

{% block content %}
<p>Ceci est le template dialogue/element_detail.html</p>

<h2> {{ element.nom }} </h2>

<ul>
<li>{{ element.param1 }}</li>
<li>{{ element.param2 }}</li>
<li>{{ element.param3 }}</li>
</ul>

<ul>
  <li>
    <a href="{{ element.get_update_url }}">Modifier élément de dialogue</a>
  </li>
  <li>
    <a href="{{ element.get_delete_url }}">Détruire élément de dialogue</a>
  </li>
</ul>

{% endblock %}
