{% extends parent_template|default:"dialogue/base_dialogue.html" %}

{% block title %}
{{ block.super }} - Mise à jour d'un élément de dialogue
{% endblock %}

{% block content %}
<p>Ceci est le template dialogue/element_form_update.html</p>
  <div>
    <div>
      <form
          action="{{ element.get_update_url }}"
          method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Mettre à jour élément</button>
      </form>
    </div>
  </div>
{% endblock %}
