{% extends parent_template|default:"dialogue/base_dialogue.html" %}

{% block title %}
{{ block.super }} - Formulaire avec POST
{% endblock %}

{% block content %}
<p>Ceci est le template dialogue/formulaire_avec_post.html</p>
<form method="POST" action="{% url 'url_mimine_post' %}">

{% comment %}
{% csrf_token %}
<!-- Vu que j'ai mis un @crsf_exempt en tête de la view... -->
{% endcomment %}

<p><b>Entrez un nom de stockage (syntaxe URL)&nbsp;:</b> <input type="TEXT" name="nom"></p>
<p><b>Entrez un paramètre 1&nbsp;:</b> <input type="TEXT" name="param1"></p>
<p><b>Entrez un paramètre 2&nbsp;:</b> <input type="TEXT" name="param2"></p>
<p><b>Entrez un paramètre 3&nbsp;:</b> <input type="TEXT" name="param3"></p>
<input type="SUBMIT" value="Validation">
</form>
{% endblock %}
