{% extends parent_template|default:"dvd/base_dvd.html" %}

{% block title %}
{{ block.super }} - DVD
{% endblock %}

{% block content %}
<p>Ceci est le template dvd/accueil.html</p>
<p> {{ message }} </p>
<h2>De quoi faire de la saisie de DVD...</h2>
<p><b><a href="{% url 'dvd_liste' %}">Liste
des DVD</a></b> (c'est le point d'entrée normal)</p>
<p><a href="{% url 'purge_dvd' %}">Purge
des DVD</a></p>
{% comment %}
<p><a href="{% url 'importe_elements' %}">Importation
des éléments de dialogue</a></p>
<p><a href="{% url 'exporte_elements' %}">Exportation
des éléments de dialogue</a></p>
{% endcomment %}
{% endblock %}
