{% extends parent_template|default:"dvd/base_dvd.html" %}

{% block title %}
{{ block.super }} - Création d'un DVD
{% endblock %}

{% block content %}
<p>Ceci est le template dvd/dvd_form.html</p>
<p>Faut remplir toutes les cases, les copains. Si vous n'avez rien
à dire dans la case, mettez-y juste un point. Si vous n'y mettez rien,
ce casse-bonbons de Django exigera que vous y mettiez quand même
quelque chose.</p>
<div>
  <div>
    <form
        action="{% url 'dvd_create' %}"
        method="post"
    >
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Créer DVD</button>
    </form>
  </div>
</div>
{% endblock %}
