<p>Ceci est le template cestmoilechef/categorie_detail.html</p>

<h2> {{ categorie.nom }} </h2>

{% comment %}
En fait, j'ai rien à dire... mais à l'avenir ça pourrait changer.
{% endcomment %}

{% if categorie.photo_set.all %}
<section>
  <h3>Photos</h3>
  <ul>
    <!-- Ici la liste des photos -->
    {% for photo in categorie.photo_set.all %}
    <li><a href="">
      {{ photo.nomAbrege }}
    </a></li>
    {% endfor %}
  </ul>
</section>
{% else %}
<p>Cette catégorie n'est en relation avec aucune photo.</p>
{% endif %}
