{% extends parent_template|default:"cestmoilechef/base_cestmoilechef.html" %}

{% block title %}
{{ block.super }} - Liste des catégories de photos
{% endblock %}

{% block content %}
<p>Ceci est le template cestmoilechef/categorie_list.html</p>
<h2>Liste des catégories de photos</h2>
<div>
  {% comment %}
    Voir le haut de la page 246
  {% endcomment %}
  <a href="{% url 'cestmoilechef_categorie_create' %}">Création d'une nouvelle catégorie</a>
</div>
<ul>
  {% for categorie in categorie_list %}
    <li><a href="{{ categorie.get_absolute_url }}">{{ categorie.nom }}</a></li>
  {% empty %}
    <li>Il n'y a pas encore de catégories.</li>
  {% endfor %}
</ul>
{% endblock %}
