{% extends parent_template|default:"cestmoilechef/base_cestmoilechef.html" %}

{% block title %}
{{ block.super }} - Détail d'une catégorie
{% endblock %}

{% block content %}
<p>Ceci est le template cestmoilechef/categorie_detail.html</p>

<h2> {{ categorie.nom }} </h2>

{% comment %}
En fait, j'ai rien à dire... mais à l'avenir ça pourrait changer.
{% endcomment %}

{% if categorie.photo_set.all %}
<section>

  <h3>Photos (code très mal écrit -- non DRY -- mais qui marche)</h3>
  <ul>
    <!-- Ici la liste des photos -->
    {% for photo in categorie.photo_set.all %}
    <li>
      <img src="http://courteline.org/hotes/vignettes/{{ photo.nomAbrege }}.jpg">
      <a href="/cestmoilechef/photo-precise/{{ photo.nomAbrege }}">
      {% comment %}
      Je dois écrire la partie d'URL /cestmoilechef/photo-precise/ en clair,
      et non pas de la façon qui suit qui m'aurait paru plus orthodoxe...
      <a href="{% url 'montre_photo_precise' %}{{ photo.nomAbrege }}">
      ... because 'montre_photo_precise' fait référence à une fonction
      qui reçoit un argument (le nom de la photo), or le dit argument
      ne se trouve pas dans la partie entre {% et %}. Voir plus bas pour tester.
      {% endcomment %}
      {{ photo.nomAbrege }}
      </a>
    </li>
    {% endfor %}
  </ul>

  <h3>Photos (code DRY encore non optimisé)</h3>
  <ul>
    {% for photo in categorie.photo_set.all %}
    <li>
      <img src="http://courteline.org/hotes/vignettes/{{ photo.nomAbrege }}.jpg">
      {% comment %}
      Ce qui suit finira peut-être par marcher... en tout cas j'y travaille
      {% endcomment %}
      <a href="{% url 'montre_photo_precise' nomPhoto=photo.nomAbrege %}">
      {{ photo.nomAbrege }}
      </a>
    </li>
    {% endfor %}
  </ul>

</section>
{% else %}
<p>Cette catégorie n'est en relation avec aucune photo.</p>
{% endif %}
{% endblock %}
