{% extends parent_template|default:"cestmoilechef/base_cestmoilechef.html" %}

{% block title %}
{{ block.super }} - Création d'une catégorie
{% endblock %}

{% block content %}
<form
    action="{% url 'cestmoilechef_categorie_create' %}"
    method="post"
>
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.nom.errors }}
    <p>
        <label for={{ form.nom.id_for_label }}>
            {{ form.nom.label }}&nbsp;:
        </label>
        {{ form.nom }}
    </p>
    {{ form.slug.errors }}
    <p>
        <label for={{ form.slug.id_for_label }}>
            {{ form.slug.label }}&nbsp;:
        </label>
        {{ form.slug }}
        <span class="helptext">
            {{ form.slug.help_text }}
        </span>
    </p>
    <button type="submit">Créer catégorie</button>
</form>
{% endblock %}
