{% extends parent_template|default:"cestmoilechef/base_cestmoilechef.html" %}

{% block title %}
{{ block.super }} - Création d'une catégorie
{% endblock %}

{% block content %}
<form
    action="{% url 'cestmoilechef_categorie_create' %}"
    method="post"
>
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
        {{ field.errors }}
        <p>
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
                <span class="helptext">
                    {{ field.help_text }}
                </span>
            {% endif %}
        </p>
    {% endfor %}
    <button type="submit">Créer catégorie</button>
</form>
{% endblock %}
