{% extends parent_template|default:"cestmoilechef/base_cestmoilechef.html" %}

{% block title %}
{{ block.super }} - Liste des catégories de photos
{% endblock %}

{% block content %}
<p>Ceci est le template cestmoilechef/categorie_list.html</p>
<h2>Liste des catégories de photos</h2>
<ul>
  {% for categorie in categorie_list %}
    <li>
        {% comment %}
        <!-- Ce que je faisais avant le shortcut -->
        <a href="/categorie/{{ categorie.slug }}">
        {% endcomment %}
        <a href="/cestmoilechef/categorie-shortcut/{{ categorie.slug }}">
        {% comment %}
        Je ne comprends pas bien pourquoi je dois écrire l'URL en clair
        {% endcomment %}
        {{ categorie.slug }}
      </a>
    </li>
  {% empty %}
    <li>Il n'y a pas encore de catégories.</li>
  {% endfor %}
</ul>
{% endblock %}
