{% extends parent_template|default:"cestmoilechef/base_cestmoilechef.html" %}

{% block title %}
{{ block.super }} - Détail d'une catégorie
{% endblock %}

{% block content %}
<p>Ceci est le template cestmoilechef/categorie_detail.html</p>

<h2> {{ categorie.nom }} </h2>

{% if categorie.photo_set.all %}
<section>

<h3>Photos (code non DRY)</h3>
<p>Ca marche, mais une partie de l'URL est écrire "en dur"
dans le template.</p>
<ul>
{% for photo in categorie.photo_set.all %}
    <li>
    <img src="http://courteline.org/hotes/vignettes/{{ photo.nomAbrege }}.jpg">
    <a href="/cestmoilechef/photo-precise/{{ photo.nomAbrege }}">
    {{ photo.nomAbrege }}
    </a>
    </li>
{% endfor %}
</ul>

<h3>Photos (code DRY version 1)</h3>
<p>Ca marche, l'URL n'est pas écrite dans le template,
mais le code entre accolades est un peu bavard.</p>
<ul>
{% for photo in categorie.photo_set.all %}
    <li>
    <img src="http://courteline.org/hotes/vignettes/{{ photo.nomAbrege }}.jpg">
    <a href="{% url 'montre_photo_precise' nomPhoto=photo.nomAbrege %}">
    {{ photo.nomAbrege }}</a>
    </li>
{% endfor %}
</ul>

<h3>Photos (code DRY version 2)</h3>
<p>Ca marche, l'URL n'est pas écrite dans le template,
et le code entre accolades est concis.</p>
<ul>
{% for photo in categorie.photo_set.all %}
    <li>
    <img src="http://courteline.org/hotes/vignettes/{{ photo.nomAbrege }}.jpg">
    <a href="{{ photo.get_absolute_url }}">
    {{ photo.nomAbrege }}</a>
    </li>
{% endfor %}
</ul>

</section>
{% else %}
<p>Cette catégorie n'est en relation avec aucune photo.</p>
{% endif %}
{% endblock %}
