{% extends parent_template|default:"cestmoilechef/base_cestmoilechef.html" %}

{% block title %}
{{ block.super }} - Liste des photos
{% endblock %}

{% block content %}

<p>Ceci est le template cestmoilechef/photo_list.html</p>

<h2>Liste des photos</h2>
<a href="{% url 'cestmoilechef_photo_create' %}">Création d'une nouvelle photo</a>
<ul>
  {% for photo in photo_list %}
    <li>
      <img src="http://courteline.org/hotes/vignettes/{{ photo.nomAbrege }}.jpg">
    {% comment %}
    # Voici ce que je faisais avant d'avoir lu le chapitre 6 de Pinkham
      <a href="/cestmoilechef/photo-precise/{{ photo.nomAbrege }}">{{ photo.nomAbrege }}</a> ({{ photo.categorie.slug }})
    {% endcomment %}
      <a href="{{ photo.get_absolute_url }}">{{ photo.nomAbrege }}</a> ({{ photo.categorie.slug }})
      <a href="{{ photo.get_update_url }}">Modifier photo</a>
      <a href="{{ photo.get_delete_url }}">Détruire photo</a>
    </li>
  {% empty %}
    <li>Il n'y a pas encore de photos.</li>
  {% endfor %}
</ul>
{% endblock %}
