{% extends parent_template|default:"cestmoilechef/base_cestmoilechef.html" %}

{% block title %}
{{ block.super }} - Liste des photos
{% endblock %}

{% block content %}

<p>Ceci est le template cestmoilechef/photo_list.html</p>

<h2>Liste des photos</h2>
<ul>
  {% for photo in photo_list %}
    <li>
      <img src="http://courteline.org/hotes/vignettes/{{ photo.nomAbrege }}.jpg">
      <a href="/cestmoilechef/photo-precise/{{ photo.nomAbrege }}">{{ photo.nomAbrege }}</a> ({{ photo.categorie.slug }})
    </li>
  {% empty %}
    <li>Il n'y a pas encore de photos.</li>
  {% endfor %}
</ul>
{% endblock %}
