{% extends parent_template|default:"cestmoilechef/base_cestmoilechef.html" %}

{% block title %}
{{ block.super }} - Pronunciamento
{% endblock %}

{% block content %}
<p>Ceci est le template cestmoilechef/pronunciamento.html</p>
<p> {{ message }} </p>
<h2>Gestion d'une base de données simple</h2>
<p><b><a href="{% url 'liste_categories' %}">Liste catégories</a></b> (c'est le point d'entrée normal)</p>
<ul>
   <li><a href="{% url 'liste_categories_moche' %}">Liste catégories</a> (version de base, moche)</li>
   <li><a href="{% url 'liste_categories' %}">Liste catégories</a> (version djangoïsée)</li>
   <li><a href="{% url 'liste_photos_moche' %}">Liste photos</a> (version de base, moche)</li>
   <li><a href="{% url 'liste_photos' %}">Liste photos</a> (version djangoïsée)</li>
   <li><a href="{% url 'importe_categories' %}">Importe catégories</a> (neutralisé)</li>
   <li><a href="{% url 'importe_photos' %}">Importe photos</a> (neutralisé)</li>
   <li><a href="{% url 'exporte_categories' %}">Exporte catégories</a></li>
   <li><a href="{% url 'exporte_photos' %}">Exporte photos</a></li>
   <li><a href="{% url 'purge_categories' %}">Purge catégories</a> (neutralisé)</li>
   <li><a href="{% url 'purge_photos' %}">Purge photos</a> (neutralisé)</li>
{% comment %}
   <li><a href="{% url 'pabon' %}">Slug pabon</a></li>
   <li><a href="{% url 'pabon2' %}">Slug pabon 2</a></li>
   <li><a href="{% url 'cestmoilechef_categorie_detail' %}">Détail des catégories</a></li>
{% endcomment %}
</ul>
<p>On peut aussi essayer les URL&nbsp;:</p>
<ul>
   <li><a href="categorie-pabon/portnawak">categorie-pabon/portnawak</a> (simple lecture de l'URL)</li>
   <li><a href="categorie-pabon2/atypiques">categorie-pabon2/atypiques</a> (requête "à la mimine" sur la base)</li>
   <li><a href="categorie/absent">categorie/absent</a> (erreur 404 si donnée absente de la base)</li>
   <li><a href="categorie-shortcut/absent">categorie-shortcut/absent</a> (idem)</li>
</ul>

<h2>Petites merdasses à titre de démo</h2>
<ul>
   <li><a href="{% url 'cestmoilechef_lslong' %}">ls -long</a> (fichier temporaire et sortie sans template)</li>
   <li><a href="{% url 'cestmoilechef_path' %}">path</a> (fichier temporaire et sortie sans template)</li>
   <li><a href="{% url 'cestmoilechef_multiplication' %}">Table de multiplications</a> (template ultra-minimaliste)</li>
   <li><a href="{% url 'ima_geport_te' %}">Image d'une porte</a> (emploi d'un fichier statique stocké ailleurs)</li>
   <li><a href="{% url 'vig_net_tes' %}">Vignettes</a> (simple accès à une page d'un autre serveur)</li>
</ul>

<h2>Rien à voir avec la choucroute</h2>
<p><a href="{% url 'exp_ort_eposts' %}">Exporte posts</a> (c'est en rapport avec l'original de Pinkham)</p>
{% endblock %}
