{% extends parent_template|default:"cestmoilechef/base_cestmoilechef.html" %}

{% block title %}
{{ block.super }} - Pronunciamento
{% endblock %}

{% block content %}
<p>Ceci est le template cestmoilechef/pronunciamento.html</p>
<p> {{ message }} </p>
<h2>Gestion d'une base de données simple</h2>
<ul>
<li><b><a href="{% url 'liste_cate_gories_2' %}">Liste catégories</a></b> (c'est ma version de travail)</li>
<li><a href="{% url 'ima_geport_te' %}">Image d'une porte</a> (emploi d'un fichier statique stocké ailleurs)</li>
<li><a href="{% url 'vig_net_tes' %}">Vignettes</a> (simple accès à une page d'un autre serveur)</li>
<li><a href="{% url 'liste_cate_gories' %}">Liste catégories</a> (version de base, moche)</li>
<li><a href="{% url 'liste_pho_tos' %}">Liste photos</a> (version de base, moche)</li>
<li><a href="{% url 'liste_pho_tos_2' %}">Liste photos</a> (variante plus orthodoxe)</li>
<li><a href="{% url 'importe_cate_go_ries' %}">Importe catégories</a> (neutralisé)</li>
<li><a href="{% url 'importe_pho_tos' %}">Importe photos</a> (neutralisé)</li>
<li><a href="{% url 'purge_pho_tos' %}">Purge photos</a> (neutralisé)</li>
<li><a href="{% url 'exp_ort_eposts' %}">Exporte posts</a></li>
{% comment %}
<li><a href="{% url 'pabon' %}">Slug pabon</a></li>
<li><a href="{% url 'pabon2' %}">Slug pabon 2</a></li>
<li><a href="{% url 'cestmoilechef_categorie_detail' %}">Détail des catégories</a></li>
{% endcomment %}
</ul>
<p>On peut aussi essayer les URL&nbsp;: categorie-pabon/portnawak,
   categorie-pabon2/atypiques, categorie/atypiques,
   categorie-shortcut/atypiques.</p>

<h2>Petites merdasses à titre de démo</h2>
<ul>
<li><a href="{% url 'cestmoilechef_lslong' %}">ls -long</a> (fichier temporaire et sortie sans template)</li>
<li><a href="{% url 'cestmoilechef_path' %}">path</a> (fichier temporaire et sortie sans template)</li>
<li><a href="{% url 'cestmoilechef_multiplication' %}">Table de multiplications</a> (template ultra-minimaliste)</li>
</ul>
{% endblock %}
